## Part 1: Preprocessing

In [90]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [91]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [92]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [93]:
y_df['Department'].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [94]:
# Create a list of at least 10 column names to use as X data
X_columns = ['Age', 'Education', 'DistanceFromHome', 'JobSatisfaction',
             'OverTime', 'StockOptionLevel', 'WorkLifeBalance', 'NumCompaniesWorked',
             'YearsAtCompany', 'YearsSinceLastPromotion']



# Create X_df using your selected columns
X_df = attrition_df[X_columns]


# Show the data types for X_df
X_df.dtypes

Age                         int64
Education                   int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
NumCompaniesWorked          int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
dtype: object

In [95]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=1)

In [96]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train['OverTime'].value_counts()

OverTime
No     798
Yes    304
Name: count, dtype: int64

In [97]:
#Convert your X data to numeric data types however you see fit
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(dtype="int", sparse_output=False, drop='first', handle_unknown='ignore')
ohe.fit(np.array(X_train['OverTime']).reshape(-1,1))
X_train["Overtime_encoded"] = ohe.transform(np.array(X_train['OverTime']).reshape(-1,1))
X_test["Overtime_encoded"] = ohe.transform(np.array(X_test['OverTime']).reshape(-1,1))
X_train = X_train.drop(columns=['OverTime'])
X_test = X_test.drop(columns=['OverTime'])

In [98]:
X_train.head()

,Age,Education,DistanceFromHome,JobSatisfaction,StockOptionLevel,WorkLifeBalance,NumCompaniesWorked,YearsAtCompany,YearsSinceLastPromotion,Overtime_encoded
464,37,3,1,4,0,4,4,6,1,0
512,27,4,3,4,0,3,0,4,1,0
480,30,4,12,1,1,4,1,1,0,0
680,36,4,7,4,0,3,2,6,0,0
1023,56,2,1,1,1,4,2,3,1,0

In [99]:
X_train.dtypes

Age                        int64
Education                  int64
DistanceFromHome           int64
JobSatisfaction            int64
StockOptionLevel           int64
WorkLifeBalance            int64
NumCompaniesWorked         int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
Overtime_encoded           int64
dtype: object

In [100]:
# Create a StandardScaler
scaler = StandardScaler()


# Fit the StandardScaler to the training data
scaler.fit(X_train, X_test)


# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [101]:
y_train['Department'].value_counts()

Department
Research & Development    725
Sales                     328
Human Resources            49
Name: count, dtype: int64

In [102]:
# Create a OneHotEncoder for the Department column
ohe = OneHotEncoder(dtype="int", sparse_output=False, drop=None, handle_unknown='ignore')


# Fit the encoder to the training data
ohe.fit(np.array(y_train['Department']).reshape(-1,1))


# Create two new variables by applying the encoder
# to the training and testing data
y_train_depart_encoded = ohe.transform(np.array(y_train['Department']).reshape(-1,1))
y_test_depart_encoded = ohe.transform(np.array(y_test['Department']).reshape(-1,1))
y_train_depart_encoded[:5]
y_test_depart_encoded[:5]

array([[0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0]])

In [103]:
# Create a OneHotEncoder for the Attrition column
ohe = OneHotEncoder(dtype="int", sparse_output=False, drop=None, handle_unknown='ignore')



# Fit the encoder to the training data
ohe.fit(np.array(y_train['Attrition']).reshape(-1,1))


# Create two new variables by applying the encoder
# to the training and testing data
y_train_attri_encoded = ohe.transform(np.array(y_train['Attrition']).reshape(-1,1))
y_test_attri_encoded = ohe.transform(np.array(y_test['Attrition']).reshape(-1,1))
print(y_train_attri_encoded[:5])
print(y_test_attri_encoded[:5])

[[1 0]
 [1 0]
 [0 1]
 [1 0]
 [1 0]]
[[0 1]
 [0 1]
 [0 1]
 [1 0]
 [1 0]]

## Create, Compile, and Train the Model

In [104]:
# Find the number of columns in the X training data
X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(X_train.shape[1]), name='input_layer')


# Create at least two shared layers
shared_layer1 = layers.Dense(units=64, activation='relu', name='shared_layer1')(input_layer)
shared_layer2 = layers.Dense(units=32, activation='relu', name='shared_layer2')(shared_layer1)

In [105]:
#Check the shape of 'Department'
y_train_depart_encoded.shape[1]

3

In [106]:
# Create a branch for Department
# with a hidden layer and an output layer
depart_branch = layers.Dense(units=32, activation='relu', name='depart_branch')(shared_layer2)

# Create the hidden layer
depart_hidden = layers.Dense(units=16, activation='relu', name='depart_hidden')(depart_branch)

# Create the output layer
depart_output = layers.Dense(units=3, activation='sigmoid', name='depart_output')(depart_hidden)

In [107]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attri_branch = layers.Dense(units=32, activation='relu', name='attri_branch')(shared_layer2)
# Create the hidden layer
attri_hidden = layers.Dense(units=16, activation='relu', name='attri_hidden')(attri_branch)

# Create the output layer
attri_output = layers.Dense(units=2, activation='softmax', name='attri_output')(attri_hidden)

In [108]:
# Create the model
model = Model(inputs=input_layer, outputs=[depart_output, attri_output])


# Compile the model
model.compile(optimizer='adam',
              loss={
                  'depart_output': 'categorical_crossentropy',
                  'attri_output': 'binary_crossentropy'
              },
              metrics={
                  'depart_output': 'accuracy',
                  'attri_output': 'accuracy'
              })


# Summarize the model
model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_layer (InputLayer)    [(None, 10)]                 0         []

 shared_layer1 (Dense)       (None, 64)                   704       ['input_layer[0][0]']

 shared_layer2 (Dense)       (None, 32)                   2080      ['shared_layer1[0][0]']

 depart_branch (Dense)       (None, 32)                   1056      ['shared_layer2[0][0]']

 attri_branch (Dense)        (None, 32)                   1056      ['shared_layer2[0][0]']

 depart_hidden (Dense)       (None, 16)                   528       ['depart_branch[0][0]']

 attri_hidden (Dense)        (None, 16)                   528       ['attri_branch[0][0]']

 depart_output (Dense)       (None, 3)                    51        ['depart_hidden[0][0]']

 attri_output (Dense)        (None, 2)                    34        ['attri_hidden[0][0]']

==================================================================================================
Total params: 6037 (23.58 KB)
Trainable params: 6037 (23.58 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [110]:
# Train the model
model.fit(X_train_scaled, {'depart_output' : y_train_depart_encoded, 'attri_output' : y_train_attri_encoded}, epochs=10, batch_size=32)

Epoch 1/10
35/35 [==============================] - 2s 3ms/step - loss: 1.5711 - depart_output_loss: 1.0194 - attri_output_loss: 0.5516 - depart_output_accuracy: 0.5145 - attri_output_accuracy: 0.8448
Epoch 2/10
35/35 [==============================] - 0s 3ms/step - loss: 1.2529 - depart_output_loss: 0.8149 - attri_output_loss: 0.4380 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8466
Epoch 3/10
35/35 [==============================] - 0s 3ms/step - loss: 1.1891 - depart_output_loss: 0.7797 - attri_output_loss: 0.4094 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8466
Epoch 4/10
35/35 [==============================] - 0s 3ms/step - loss: 1.1649 - depart_output_loss: 0.7732 - attri_output_loss: 0.3917 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8466
Epoch 5/10
35/35 [==============================] - 0s 3ms/step - loss: 1.1492 - depart_output_loss: 0.7702 - attri_output_loss: 0.3790 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8466
Epoch 6/10
35/35 [==============================] - 0s 2ms/step - loss: 1.1339 - depart_output_loss: 0.7636 - attri_output_loss: 0.3703 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8475
Epoch 7/10
35/35 [==============================] - 0s 3ms/step - loss: 1.1191 - depart_output_loss: 0.7574 - attri_output_loss: 0.3617 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8548
Epoch 8/10
35/35 [==============================] - 0s 2ms/step - loss: 1.1047 - depart_output_loss: 0.7518 - attri_output_loss: 0.3529 - depart_output_accuracy: 0.6579 - attri_output_accuracy: 0.8657
Epoch 9/10
35/35 [==============================] - 0s 3ms/step - loss: 1.0904 - depart_output_loss: 0.7473 - attri_output_loss: 0.3431 - depart_output_accuracy: 0.6588 - attri_output_accuracy: 0.8721
Epoch 10/10
35/35 [==============================] - 0s 2ms/step - loss: 1.0820 - depart_output_loss: 0.7457 - attri_output_loss: 0.3364 - depart_output_accuracy: 0.6597 - attri_output_accuracy: 0.8684

In [111]:
# Evaluate the model with the testing data
results = model.evaluate(X_test_scaled, {'depart_output' : y_test_depart_encoded, 'attri_output' : y_test_attri_encoded})

12/12 [==============================] - 0s 2ms/step - loss: 1.2029 - depart_output_loss: 0.7920 - attri_output_loss: 0.4109 - depart_output_accuracy: 0.6386 - attri_output_accuracy: 0.8288

In [114]:
results

[1.2029083967208862,
 0.7920141816139221,
 0.41089415550231934,
 0.6385869383811951,
 0.8288043737411499]

In [113]:
# Print the accuracy for both department and attrition
print(f'Department Accuracy: {results[3]}')
print(f'Attrition Accuracy: {results[4]}')

Department Accuracy: 0.6385869383811951
Attrition Accuracy: 0.8288043737411499

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. At first I thought it may not be the best metrics to use because the data is imbalanced. Department having three different classes and Attrition having two. But the scores are actually favoring attrition so maybe it is not an issue using accuracy for this data set.  

2. I choose sigmoid for the Department output. I choose this with the thought of the data fitting into one class or another, or no class.
I choose softmax for the attrition output because it was binary, either this or that. One class or the other.

3. Maybe adding in some feature selection functions or a matrix correlation to ensure the x features are well correlated with our target values. Maybe testing out a different set of metrics wouldn't be a bad idea too.